* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  max-width: 1230px;
}

.body-content {
  position: relative;
  height: 700px;
}

.img-top-left {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  pointer-events: none;
}

.img-top-left img {
  width: 100%;
}

.header {
  position: relative;
  height: 80px;
  z-index: 1;
}

.header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .row .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .row .header-content .header-left {
  width: 25%;
}

.header .row .header-content .header-right {
  width: 75%;
}

.header .row .header-content .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .row .header-content .header-right .header-link {
  width: 65%;
  padding-top: 30px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header .row .header-content .header-right .header-link a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  padding: 0px 25px;
}

.header .row .header-content .header-right .header-link a:hover {
  color: #b61984;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header .row .header-content .header-right .header-contact {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .row .header-content .header-right .header-contact .header-call {
  width: 60%;
  background: #b61984;
  display: inline-block;
  margin: 25px 0px 32px 0px;
  text-align: center;
  padding-top: 5px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header .row .header-content .header-right .header-contact .header-call:hover {
  color: #b61984;
  -webkit-box-shadow: 0 0 0 1px #b61984 inset;
          box-shadow: 0 0 0 1px #b61984 inset;
  background: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header .row .header-content .header-right .header-contact .header-icon {
  width: 40%;
  padding-top: 30px;
  margin-left: 20px;
}

.header .row .header-content .header-right .header-contact .header-icon i {
  margin-right: 10px;
  cursor: pointer;
}

.header .row .header-content .header-right .header-contact .header-icon i:hover {
  color: #b61984;
}

.carousel {
  position: relative;
}

.carousel .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.carousel .row .carousel-left {
  width: 50%;
  padding: 180px 0px;
}

.carousel .row .carousel-left .carousel-left-top {
  font-size: 20px;
  color: #b61984;
  font-weight: 600;
  display: inline-block;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 1;
}

.carousel .row .carousel-left .carousel-left-bottom {
  position: relative;
  z-index: 1;
  display: block;
  font-size: 60px;
  font-weight: 700;
  overflow-wrap: inherit;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  line-height: 70px;
}

.carousel .row .carousel-right {
  width: 50%;
}

.img-purple {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.img-purple img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}

.information {
  background: #dcd1f3;
  position: relative;
  z-index: 99;
}

.information .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.information .row .row-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin-top: 40px;
}

.information .row .row-top .card {
  width: 100%;
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
  border-radius: 15px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.information .row .row-top .card:hover {
  -webkit-box-shadow: 0 30px 30px -10px #00000033;
          box-shadow: 0 30px 30px -10px #00000033;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.information .row .row-top .card img {
  position: relative;
  -webkit-transition: -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
  transition: -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out, -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
  width: 100%;
  z-index: 99;
  height: auto;
}

.information .row .row-top .card-img {
  overflow: hidden;
  width: 100%;
}

.information .row .row-top .card img:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
  transition: -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out, -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
}

.information .row .card span {
  color: #b61984;
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.information .row .card h3 {
  font-weight: 600;
  margin-bottom: 15px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.information .row .card p {
  font-weight: 400;
  font-size: 17px;
}

.information .row-top img {
  border-radius: 15px 15px 0px 0px;
}

.information .row-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px;
  text-align: center;
  position: relative;
  z-index: 10;
}

.information .row-bottom .card {
  width: 100%;
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
  border-radius: 15px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.information .row-bottom .card:hover {
  -webkit-box-shadow: 0 30px 30px -10px #00000033;
          box-shadow: 0 30px 30px -10px #00000033;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.information .row-bottom .card span {
  color: #b61984;
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.information .row-bottom .card h3 {
  font-weight: 600;
  margin-bottom: 15px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.information .row-bottom .card p {
  font-weight: 400;
  font-size: 17px;
}

.information .row-bottom img {
  border-radius: 15px 15px 0px 0px;
}

.information .card img {
  -webkit-transition: -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
  transition: -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out, -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
}

.information .card-img {
  overflow: hidden;
}

.information .card img:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
  transition: -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out, -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
}

.img-information-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.img-information-bottom img {
  width: 100%;
  height: auto;
  display: block;
}

.course {
  padding: 150px 0px;
}

.course .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.course .row .course-left {
  width: 48%;
}

.course .row .course-left img {
  display: block;
  margin: 0;
  line-height: 0;
  max-width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.course .row .course-right {
  width: 35%;
}

.course .row .course-right .course-content {
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
}

.course .row .course-right .course-content .course-title h3 {
  font-size: 38px;
  font-weight: 700;
  overflow-wrap: inherit;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.course .row .course-right .course-content .row-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.course .row .course-right .course-content .row-box .name-box {
  -ms-flex: 1 0 50%;
  -webkit-box-flex: 1;
          flex: 1 0 50%;
  max-width: 50%;
  padding-right: 1em;
  position: relative;
}

.course .row .course-right .course-content .row-box .name-box .icon-name {
  position: absolute;
  top: 1em;
  left: 1em;
  line-height: 1;
  z-index: 10;
  color: #b61984;
}

.course .row .course-right .course-content .row-box .name-box .enter-name {
  position: relative;
}

.course .row .course-right .course-content .row-box .name-box .enter-name input {
  border-radius: 50px;
  padding: 1em 1em 1em 3.5em !important;
  font-size: 0.8em !important;
  height: 3.7em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  width: 100%;
}

.course .row .course-right .course-content .row-box .email-box {
  -ms-flex: 1 0 50%;
  -webkit-box-flex: 1;
          flex: 1 0 50%;
  max-width: 50%;
  position: relative;
}

.course .row .course-right .course-content .row-box .email-box .icon-email {
  position: absolute;
  top: 1em;
  left: 1em;
  line-height: 1;
  z-index: 10;
  color: #b61984;
}

.course .row .course-right .course-content .row-box .email-box .enter-email {
  position: relative;
}

.course .row .course-right .course-content .row-box .email-box .enter-email input {
  border-radius: 50px;
  padding: 1em 1em 1em 3.5em !important;
  font-size: 0.8em !important;
  height: 3.7em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  width: 100%;
}

.course .row .course-right .course-content .language-select {
  position: relative;
  border-radius: 50px;
  padding: 1em 1em 1em 3.5em !important;
  font-size: 0.8em !important;
  height: 3.7em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  width: 100%;
}

.course .row .course-right .course-content .language-select #inputLanguage {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  padding: 1em 1em 1em 3.5em !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
}

.course .row .course-right .course-content .language-select .language-icon {
  position: absolute;
  top: 13px;
  left: 15px;
  color: #b61984;
  cursor: pointer;
}

.course .row .course-right .course-content .language-select .language-angle {
  position: absolute;
  top: 13px;
  right: 15px;
  color: #b61984;
  cursor: pointer;
}

.course .row .course-right .course-content .message .textarea {
  position: relative;
  border-radius: 50px;
  padding: 1em 1em 1em 3.5em !important;
  font-size: 0.8em !important;
  height: 3.7em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */